# 10주차 2강 실습

## 1. 배열 생성 함수

In [12]:
import numpy as np

data1 = [6, 7.5, 8, 0, 1]
arr1 = np.array(data1)
arr1

array([6. , 7.5, 8. , 0. , 1. ])

In [6]:
data2 = [[1,2,3,4], [5,6,7,8]]
arr2 = np.array(data2)
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [7]:
arr2.ndim # ndim : 몇 차원인지 확인할 때

2

In [8]:
arr2.shape # 행, 열 확인할 때 / 2열 4행

(2, 4)

In [10]:
arr2.dtype # 데이터타입 확인할 때

dtype('int32')

In [13]:
arr1.dtype

dtype('float64')

In [14]:
np.zeros(10) # zeros() : 10개의 0으로 채워진 리스트가 생성된다.

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [15]:
np.zeros((3,6)) # 3행 6열의 다차원 배열도 생성이 가능하다.

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [17]:
np.arange(15) # arange() : 0부터 14까지 15개의 값을 가진 리스트를 생성한다.

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [20]:
arr1 = np.array([1,2,3], dtype=np.float64)
arr2 = np.array([1,2,3], dtype=np.int32)
arr1.dtype

dtype('float64')

In [21]:
arr2.dtype

dtype('int32')

In [23]:
arr = np.array([1,2,3,4,5])
arr.dtype # 데이터 타입을 명시적으로 지정하지 않을때는 기본형은 정수형이다.

dtype('int32')

In [24]:
float_arr = arr.astype(np.float32) 
float_arr.dtype
# astype() : 숫자형식의 문자열을 담고 있는 배열이 있다면 숫자로 변환할 수 있다.

dtype('float32')

In [27]:
arr = np.array([3.7, -1.2, 2.6, 0.5])
arr.dtype

dtype('float64')

In [30]:
# 현재 데이터 타입이 float64인 arr변수의 데이터 타입을 정수로 변환시켜보자
arr.astype(np.int32)

array([ 3, -1,  2,  0])

In [31]:
empty_uint32 = np.empty(8, dtype='u4')
empty_uint32
# empty() :

array([2576980378, 1074633113,  858993459, 3220386611, 3435973837,
       1074056396,          0, 1071644672], dtype=uint32)

In [32]:
arr1 = np.array([[1., 2., 3.], [4., 5., 6.]])
arr1

array([[1., 2., 3.],
       [4., 5., 6.]])

In [37]:
arr1 * arr1 # 다차원 배열 변수끼리 곱하기가 가능하다.

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

arr2 = np.array([0., 4., 1.], [7.,2.,12.])
arr2

In [36]:
arr2 > arr1

array([[False, False, False],
       [False, False, False]])

## 2. 다차원 배열의 색인과 슬라이싱
- numpy 배열에서 원소 색인하기

In [41]:
arr2d = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [42]:
arr2d[2]

array([7, 8, 9])

In [45]:
arr2d[0][2] # 0행 2열의 값을 나타낸다

3

In [47]:
arr2d[:2] # 2행까지 슬라이싱하여 출력한다

array([[1, 2, 3],
       [4, 5, 6]])

In [49]:
arr2d[:2, 1:] # 2행까지, 인덱스1부터 출력한다.

array([[2, 3],
       [5, 6]])

In [50]:
arr2d[:2, 1:] = 0
arr2d

array([[1, 0, 0],
       [4, 0, 0],
       [7, 8, 9]])

## 3. 불리언값으로 선택하기

In [51]:
names = np.array(['Bob', 'Joe', 'Will', 'Jeo'])
names == 'Bob'

array([ True, False, False, False])

In [52]:
names != 'Bob'

array([False,  True,  True,  True])

## --------------------------------------------------------------------

# 10주차 3강 실습

In [55]:
import numpy as np
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [56]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

## 1. 단항 ufunc
- 단항 유니버설 함수

* abs : 각 원소의 절대값을 구한다.
* sqrt : 각 원소의 제곱근을 계산
* exp : 각 원소에서 지수 계산
* log : 자연로그
* sign : 각 원소의 부호를 계산
* ceil : 각 원소의 소수자리를 올림
* floor : 각 원소의 소수자리를 내림
* rint : 각 원소의 소수자리를 반올림
* modf : 각 원소의 몫과 나머지를 각각의 배열로 반환
* isnan : 각 원소가 숫자가 아닌지(nan)를 나타내는 불리언 배열을 반환
* cos, sin : 일반 삼각함수

In [57]:
arr = np.random.randn(7)*5
arr

array([ 0.0146995 , -2.02476789, -3.27565056, -5.8929781 , -2.14233105,
        2.21769475,  0.31719323])

In [59]:
np.modf(arr)
# 각각의 몫과 나머지를 출력한다.

(array([ 0.0146995 , -0.02476789, -0.27565056, -0.8929781 , -0.14233105,
         0.21769475,  0.31719323]),
 array([ 0., -2., -3., -5., -2.,  2.,  0.]))

In [60]:
# 인자값을 하나로 사용하지만 이항은 인자값을 두개 이상을 사용한다.

## 2. 이항 ufunc
- 이항 유니버설 함수

In [61]:
x = np.random.randn(8)
y = np.random.randn(8)
x

array([-1.3521372 , -0.45668541, -0.9195186 ,  0.46217716, -0.22758359,
       -0.2426576 , -1.78658363,  0.98096891])

In [62]:
y

array([-0.42490428, -0.2114326 , -0.29557389,  0.39124447, -0.56440663,
       -1.00200697, -1.47028918,  0.80319425])

In [63]:
np.maximum(x, y) 
# maximum() :

array([-0.42490428, -0.2114326 , -0.29557389,  0.46217716, -0.22758359,
       -0.2426576 , -1.47028918,  0.98096891])

* add : 두 배열에서 같은 위치의 원소끼리 더함
* substract : 첫 번째 배열의 원소에서 두 번째 배열의 원소를 뺌
* multiply : 배열의 원소끼리 곱함
* divide : 첫 번째 배열의 원소를 두 번째 배열의 원소로 나눔
* power : 첫 번째 배열의 원소를 두 번째 배열의 원소만큼 제곱
* maximum : 각 배열의 두 원소 중 큰 값을 반환
* minimum : 각 배열의 두 원소 중 작은 값을 반환

## 3. 수학 메서드와 통계 메서드
 - 기본 배열 수학, 통계 메서드

* sum : 배열 전체 혹은 특정 축에 대한 모든 원소의 합을 계산
* mean : 산술 평균을 구함(크기가 0인 배열에 대한 결과는 nan)
* std : 표준편차
* var : 분산
* min, max : 최소값, 최대값
* cumsum : 각 원소의 누적합
* cumprod : 각 원소의 누적곱

In [64]:
arr = np.random.randn(5,4)
arr

array([[ 0.96853611,  0.11018421, -0.93584488, -1.55541583],
       [-1.79920337, -1.25271633, -0.01672775,  0.01411435],
       [-0.94917341,  0.62382308, -1.11887346,  0.17005381],
       [-0.44514441,  0.54136827,  1.23950836,  0.64208597],
       [-0.33110623,  0.46495945, -0.35345201, -0.67352927]])

In [65]:
arr.mean()

-0.23282766696331314

In [66]:
np.mean(arr)

-0.23282766696331314

In [67]:
arr.sum()

-4.656553339266263

In [68]:
np.sum(arr)

-4.656553339266263

In [69]:
arr.mean(axis = 1) # 열의 평균

array([-0.3531351 , -0.76363328, -0.31854249,  0.49445455, -0.22328202])

In [70]:
# mean, sum 함수는 선택적으로 axis 속성에 인자를 받아서 결과로 한 차원 낮은 배열을 반환한다.

In [71]:
arr.sum(axis = 0) # 행의 합

array([-2.55609131,  0.48761868, -1.18538975, -1.40269097])

In [72]:
arr = np.array([0,1,2,3,4,5,6,7])
arr

array([0, 1, 2, 3, 4, 5, 6, 7])

In [73]:
arr.cumsum()

array([ 0,  1,  3,  6, 10, 15, 21, 28], dtype=int32)

In [74]:
arr = np.array([[0,1,2,],[3,4,5],[6,7,8]])
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [80]:
arr.cumsum(axis = 0) # 누적합

array([[ 0,  1,  2],
       [ 3,  5,  7],
       [ 9, 12, 15]], dtype=int32)

In [81]:
arr.cumprod(axis = 1) # 누적곱

array([[  0,   0,   0],
       [  3,  12,  60],
       [  6,  42, 336]], dtype=int32)